<h2>Dashboard</h2>
<h3>Welcome {{name}}</h3>
{{#if stories}}
<table class="striped">
    <thead>
        <td>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </td>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}"></a>{{title}}</td>
            <td>{{createdAt}}</td>
            <td> <span class="dash-status">{{status}}</span></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <p>You have not created any story</p>
{{/if}}